.logo {
    width: 150px;
    margin-top: 15px;
}
.banner { 
    height: 55px;   
    background-image: url("../img/pattern.png");
    background-size: 200px 100px;
    background-color: cornflowerblue;
    /*
    Height:300px
    Color: white
    Background-repeat: no repeat; (uncheck if you want to repeat)
    Background-size: contain (immagine e visible per intero)/cover(coprire tutto il container) oppure mettere pixel100px(e`assoluto, non cambia), 30% (unita relativa alla dimensione del banner, larghezza contenitore che vogliamoo coprire);
    Background-position: 
    Background-attachment: fixed
    */
}

body {
    margin: 0;
}

.author {
    color: rgb(0, 162, 255)
}

.background {
    /* background-color: lightpink; */
    background-image: url(../img/cat.jpg);
    height: 300px;
    color: white;
  }

  .container-img {
    /* background-color: lightpink; */
    background-image: url(../img/monitor.jpg);
    height: 300px;
    width: 250px;
    background-repeat: no-repeat;
    color: white;
  }    
    
  .inner-text {
    
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    text-shadow: 0.07em 0.07em 0.05em black;
    text-align:left;
    
  }

  .container-img2 {
    margin-top: -80px;
    /* background-color: lightpink; */
    background-image: url(../img/graph.jpg);
    height: 300px;
    width: 250px;
    background-repeat: no-repeat;
    color: white;
    
  }    